* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
    
}

#header a:hover {
    color: rgba(0, 0, 0, 0.644);
}

#logo img {
    height: 3rem;
}

#menu li a img {
    height: 1.5rem;
    width: 1.5rem;
}

#header {
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    position: sticky;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    align-items: center;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

#btn-sales {
	border-radius:28px;
	border:1px solid #088eb3;
    background: linear-gradient(to right,#088eb3 1%, #0db5ac 100%);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:17px;
	padding:8px 35px;
	text-decoration:none;
}
#btn-sales:hover {
	background: linear-gradient(to right,#088eb3 35%, #0db5ac 100%);
}

@media (max-width: 1260px) {
    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: -16px;
        transition: 0.6s;
        background: #ffffff;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav.active #menu {
        height: auto;
        visibility: visible;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #menu {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.459);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 31px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 31px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition:0.3s ;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(45deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-45deg);
        top: -7px;
    }
}