h1,h2,h3,h4 {
    font-family: sans-serif;
}

#introduction {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #f9f9f9;
    
}

.first-container {
    text-align: center;
    padding: 60px 0;
    max-width: 66.6%;
}

.h2-introduction, .h3-introduction {
    margin: 20px 0;
    font-weight: 400;
    line-height: 2rem;
    word-spacing: 0.2rem;
}

.h2-introduction {
    font-size: 3rem;
    color: #232323;
    line-height: 3rem;
}

.h3-introduction {
    font-size: 1.5rem;
    color: #767676;

}

#scheduling {
    display: flex;
    height: auto;
    padding: 90px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-wrap: wrap;
    background: linear-gradient(to right,   #157f9c 5%, #33a8a9 100%);
}

#btn-schedule {
	background-color:#38b0ac;
	border-radius:28px;
	border:1px solid #34a09c;
	display:inline-block;
    margin-right: 4rem;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:1rem;
	padding:16px 40px;
}

#btn-schedule:hover {
    box-shadow: 0px 9px 30px -1px #216865;
    background-color: #267673;
    border:1px solid #216865;
}

.h2-scheduling {
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    text-align: right;
    margin-left: 8rem;
}

.h3-scheduling {
    display: block;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#social {
    display: flex;
    padding: 90px 0;
    background-color: #f9f9f9;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 1.1rem;
    
}

#social a {
    text-decoration: none;
    color: #767676;
}

.h4-social {
    padding:2rem 0 1.1rem 0;
    color: #38b0ac;
}

.fifth-container p {
    color: #767676;
    
}

.icon {
    align-self: center;
}

@media (max-width: 900px) {

.h3-introduction {
    font-size: 4vw;
}

.first-container {
    max-width: 90%;
}

.h2-scheduling {
    margin-left: 0;
    font-size: 8vw;
    text-align: center;
    justify-content: center;
}

.h3-scheduling {
    font-size: 5vw;
    text-align: center;
}

#btn-schedule {
    width: 60vw;
    margin: 10px 0;
}

}

@media (max-width: 480px) {

.h3-introduction {
    font-size: 6vw;
}

.first-container {
    font-size: 1vw;
}

#btn-schedule {
    width: 80vw;
    margin: 10px 0;
}

.fourth-container,
.fifth-container,
.sixth-container {
    width: 100vw;
    overflow:hidden ;
}



}