* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

body {
	height: 100vh;
	background-color: blueviolet;
	display: flex;
}

.container {
	height: 700px;
	width: 550px;
	padding: 30px;
	background-color: #efefee;
	margin: auto;
	border-radius: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 2rem;
	margin-bottom: 25px;
}

input {
	padding: 5px;
	width: 300px;
	margin-bottom: 15px;
}

button {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(to bottom,rgb(180, 180, 180) 5%, #000 100% );
	color: #fff;
	font-size: 15px;
}

button:hover {
	background: linear-gradient(to bottom, #000 5%, rgb(180, 180, 180) 100%);
	background-color: rgb(65, 65, 65);
}

.items {
	width: 300px;
}

